<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="50050">
        <setting label="50073" id="QuitKodi" type="enum" values="Yes|No|Ask" default="1"/>
        <setting label="50061" id="KodiWin" type="executable" visible="system.platform.windows" default="C:\Program Files (x86)\Kodi\Kodi.exe"/>
        <setting label="50062" id="RemoteControlNetflixWin" type="executable" visible="system.platform.windows" default="C:\RemoteControlNetflix\NetflixRemoteController.exe"/>
        <setting label="50116" id="PreScriptEnabled" type="bool" default="false"/>
        <setting label="50117" id="PreScript" type="executable" enable="eq(-1,true)"/>
        <setting label="50119" id="PostScriptEnabled" type="bool" default="false"/>
        <setting label="50118" id="PostScript" type="executable" enable="eq(-1,true)"/>
    </category>
    <category label="50100">
        <setting label="50115" id="KodiPortable" type="bool" default="false"/>
        <setting label="50074" id="SuspendAudio" type="bool" default="false"/>
        <setting label="50112" id="BusyDialogTime" type="number" default="10"/>
        <setting label="50114" id="FilePathCheck" type="bool" default="true"/>
        <setting label="50300" id="smstextentry" type="bool" default="false"/>
        <setting label="50301" id="stopbuttonquits" type="bool" default="false"/>
        <setting label="50302" id="refreshratemode" type="bool" default="false"/>
        <setting label="50303" id="disablenetflixstart" type="bool" default="false"/>
        <setting label="50304" id="disablenetflixquit" type="bool" default="false"/>
        <setting label="50305" id="disablefullscreen" type="bool" default="false"/>
    </category>
</settings>
 
